*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/dhcc/cn/com/fix_phone/widget/
src/main/res/drawable-ldpi/
src/main/res/drawable-xhdpi/
src/main/res/drawable-xxhdpi/
